.CampaignContainer {
  padding-top: 26px;
  padding-bottom: 18px;
  padding-right: 10px;
}

.Date {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #2B416C;
  height: 24px;
  padding: 0px;
  margin: 0px;
}
.numofDays {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  color: #7788A3;
  height: 16px;
  padding: 0px;
  margin: 0px;
}
.Campaign {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.NameRegion {
  margin-left: 14px;
}
.CampaignName {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #556789;
  height: 24px;
  padding: 0px;
  margin: 0px;
}
.CampaignRegion {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  color: #9CA2B7;
  height: 16px;
  padding: 0px;
  margin: 0px;
}
.ViewPricing {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #7788A3;
  height: 16px;
  margin: 0px;
  padding: 0px;
}
.PricingSpace {
  margin-left: 6px;
}
.Actions {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #7788A3;
  height: 16px;
  margin: 0px;
  padding: 0px;
}
.ActionsSpace {
  margin-left: 6px;
  margin-right: 40px;
}
.ManageCampaignsContent {    
  font-style: normal; 
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  color: #2B416C;
}

.InnerContent{
  max-width: 1200px;
  margin: 0 auto;
  padding: 18px;
}
.child-inline{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: max-content;
}

.container-flex-inline{
  display: flex;
}
.container-flex-inline > *{
  flex: 1;
  width: max-content;
}
.container-flex-inline p{
  width: max-content;
}

/* pricing modal */

.PricingModal {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* left: 0; */
    /* right: 0; */
   
    width: 380px;
    background-color: white;
    padding: 25px;
   
    border-radius: 8px;
}
.ImageNameRegion {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 10px;
}
.NameRegion {
  margin-left: 14px;
}
.CampaignName {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #2B416C;
  height: 24px;
  padding: 0px;
  margin: 0px;
}
.CampaignRegion {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  color: #9CA2B7;
  height: 16px;
  padding: 0px;
  margin: 0px;
  float: left;
}
.PricingHeader {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #2B416C;
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
}
.Prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Prices p{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #7788A3;
  margin: 0px;
  padding: 0px;
}
.Prices h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #556789;
  margin: 0px;
  padding: 0px;
}
.CloseButtonContainer {
  display: flex;
  justify-content: center;
}
.CloseButton {
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  border: 2px solid black;
  text-transform: uppercase;
  width: 80px;
  height: 40px;
}
.InternalTabs{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.select-tabs{
  border-bottom: 2px solid #F1F1F4;
}
.react-datepicker__input-container{
  display: none !important;
}
/* .datepicker-container{
  position: absolute;
    bottom: -37px;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.datepicker-button{
    
      margin-left: 50%;
     
      transform: translateX(-50%);
      margin-bottom: 10px;
}
.nodatafound{
  text-align: center;
    padding: 40px;
    color: #2b416c;
    font-size: 22px;
}

.MuiTabs-flexContainer{
  overflow-x: auto;
}
.Date{
  width: max-content;
}
.CampaignName{
  width: max-content;
}



@media (max-width: 480px) {
  .makeStyles-logoposition-3 {
    left: 14px  !important;
 }
}